#contact-left{
    float: left;
}
#contact-right{
    float: left;
}
#contact_form{
    background-color: white;
    position: relative;
    border:10px solid black;
    border-radius: 15px;    
    margin-top: -20%;
    margin-left: 30%;
    width: 45vw; 
    height: 60vh;
    padding-left:20px;
    padding-top:20px;  
}
#contact_form div{
position: relative;
    display: inline;
    margin: auto; 
}
#btn-contact-form{
    float: left;
    position: absolute;
    width: 145px;
}
#btn-cancel-form{
    float: left;
}
.contact{
    width: 100px;
}
#company-address p{
    clear: both;
    position: relative;
    padding: 20px;
}