#register-holder {
    position: relative;
    z-index: 101;
    border: 1px solid black;
    border-radius: 15px;
    background-image: url('https://images5.alphacoders.com/432/432931.jpg');
    background-repeat: no-repeat;
    background-size: 80vw;
    background-position: center;
    margin-top: 10%;
    margin-left: 25%;
    width: 50vw;
    height: 65vh;
}

#username-label,
#email,
#age {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#password-label {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

#register-holder form {
    width: 20vw;
    margin: 25px;
}

#register-holder form #btn-register {
    width: 100%;
    margin-top: 10px;
}