   <div id="container-gallery" class="container-gallery">
    <h1 style="margin-left: 100px">"All-New Wolverine (2016) Comic"</h1>
    <br>
    <div id="links">
            <a href="../images/wolf/01.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/01.jpg" class="img-thumbnail detailed-imgs"  width="150" height="150"></a>
            <a href="../images/wolf/02.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/02.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/03.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/03.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/04.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/04.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/05.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/05.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/06.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/06.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/07.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/07.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/08.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/08.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/09.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/09.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/10.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/10.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/11.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/11.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/12.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/12.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/13.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/13.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/14.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/14.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/15.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/15.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/16.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/16.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/17.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/17.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/18.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/18.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/19.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/19.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/20.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/20.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/21.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/21.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/22.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/22.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/23.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/23.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/24.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/24.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/25.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/25.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/26.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/26.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/27.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/27.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/28.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/28.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/29.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/29.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/30.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/30.jpg" class="img-thumbnail detailed-imgs""></a>
            <a href="../images/wolf/31.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/31.jpg" class="img-thumbnail detailed-imgs"></a>
            <a href="../images/wolf/32.jpg" title="The Wolverine" data-gallery="">
            <img src="../images/wolf/32.jpg" class="img-thumbnail detailed-imgs"></a>
            
            
    </div>
    <br>
    </div>
    
    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
<!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>