<div id="register-holder">
    <form>
        <fieldset>
            <label for="username"><p id="label1">Username</p></label>
            <input type="text" class="form-control" id="username" placeholder="Username" required>
            <label for="password"><p id="label2">Password</p></label>
            <input type="password" class="form-control" id="password" placeholder="******">
            <a type="button" class="btn btn-success" id="btn-register">Register</a>
        </fieldset>
    </form>
</div>