<div id="register-holder">
    <form>
        <fieldset>
            <label for="email"><p id="email">Email</p></label>
            <input type="text" class="form-control" id="email-input" placeholder="e-mail" required>
            <label for="username"><p id="username-label">Username</p></label>
            <input type="text" class="form-control" id="username-input" placeholder="Username" required>            
            <label for="password"><p id="password-label">Password</p></label>
            <input type="password" class="form-control" id="password-input" placeholder="******">            
            <label for="email"><p id="age">Age</p></label>
            <input type="number" class="form-control" id="age-input" placeholder="Age" required>
            <a type="button" class="btn btn-success" id="btn-register">Register</a>
        </fieldset>
    </form>
</div>